/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';


body{
    position: relative;
    background-image: url(https://www.primefaces.org/primeng/window.051ab7f4e3d1ccf2.jpg);
    background-repeat: repeat;
    background-size: auto;
}

.p-tieredmenu {
    top: 9rem;
    position: absolute;
}